    <!-- Nav Bar Setup -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper #212121 grey darken-4">
            <a href="#" class="brand-logo center">Live Science Article Finder</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li id="index_hbds"><a href="/">Home</a></li>
                <li id="saved_hbds"><a href="/saved">Saved Articles</a></li>
                <li><a class="waves-effect waves-light btn" id="scraped">Get New Articles!</a></li>
            </ul>
        </div>
    </nav>
</div>
    <!-- Modal Structure -->
    <div id="resultsModal" class="modal">
        <div class="modal-content center-align">
            <h4>Added New Articles!</h4>
        </div>
        <div class="modal-footer">
            <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>
    <!-- Paralax -->
    <div class="parallax-container">
        <div class="parallax"><img src="./assets/img/science3.jpg"></div>
    </div>
    <!-- Article Boxes -->
    <div class="articles">
        <ul class="collection with-header">
        {{#each articles}}            
            <div class="title" id="article_title">
                <li class="collection-header #e1f5fe light-blue lighten-5">
                 <form action="/" method="PUT" method="POST">
                    <div><h5><img src="{{this.image}}">{{this.title}}<a class="waves-effect waves-light btn" id="save_article" data-id="{{this._id}}">Save Article</a></h5></div>
                </li>
                </form>
            </div>
            <div class="summary" id="article_summary">
                <li class="collection-item"><a href="http://www.livescience.com/{{this.link}}">{{this.content}}{{this.date}}</a></p></li>
            </div> 
        {{/each}}           
    </div>

    <footer class="page-footer #212121 grey darken-4">
            © Copyright2017 Skylar Siagel | &nbsp
            <a class="grey-text text-lighten-4" href="https://github.com/Skylarann725/MongoArticles">GitHub Link</a>
    </footer>